.form {
    padding: 15px;
    margin: 0 auto;
    max-width: 400px;
    background-color: #fff;

    input {
        width: 100%;
    }
    h1 {
        text-align: center;
        margin: 0 0 15px;
    }
}
