<ng-container *ngIf="componentReady">
  <div class="page-header">header</div>
  <div class="page-body scrollable">
    <div class=" ">
      <form *ngIf="form" [formGroup]="form" class="form section">
        <a *ngIf="!!parentLink" (click)="navigate(parentLink)">{{taskIn.parent_id}}</a>
        <h2 [classList]="'f-control control-name'" [minHeight]="'initial'" [lockEnter]="true" inputDirective formControlName="name" (contentChanged)="save()"
            [placeholder]="'Что нужно сделать'">{{taskIn.name}}</h2>
        <pre [classList]="'f-control control-description'" [minHeight]="'100px'" inputDirective formControlName="description" (contentChanged)="save()" [placeholder]="placeholderText">{{taskIn.description}}</pre>

        <div>
          <div custom-tag (valueChanged)="searchTagByString($event)">
            <options-list class="options-list">
              <div options-item *ngFor="let tag of filteredTags" (click)="addTag(tag)">{{tag.name}}</div>
            </options-list>

            <span class="tag-list" list-item *ngFor="let tag of taskTags" (click)="searchByTag(tag)" (onClose)="removeTag(tag)">{{tag.name}}</span>
          </div>
        </div>
      </form>
      <div class="section">
        <app-task-tree *ngIf="dataLoaded" [dataList]="children" [config]="taskListConfig" [menuItems]="menuItems" (itemAction)="onMenuAction($event)"></app-task-tree>
      </div>
    </div>
  </div>
  <div class="page-footer">footer</div>
</ng-container>
