<div class="container">
  <nav class="navbar navbar-fixedTop">
    <a routerLink="/">MFBudget</a>
    <ul>
      <li>
        <a routerLink="/login">Login</a>
      </li>
      <li>
        <a routerLink="/register">Register</a>
      </li>
    </ul>
  </nav>

  <main>
    <router-outlet></router-outlet>
  </main>

  <footer>
    <p>(c) Powered by mirehiko</p>
    <p>2020г.</p>
  </footer>
</div>
<!--
<div class="navbar-fixed">
    <nav>
      <div class="nav-wrapper">
        <a routerLink="/" class="brand-logo">MyBudget</a>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
          <li><a href="/login">Login</a></li>
          <li><a href="/register">Register</a></li>
        </ul>
      </div>
    </nav>

    <ul class="sidenav">
          <li><a href="/login">Login</a></li>
          <li><a href="/register">Register</a></li>
    </ul>
</div>

<div class="container">
    <app-task-main>
      <router-outlet></router-outlet>
    </app-task-main>

    <footer>
      <p>(c) Powered by mirehiko</p>
      <p>2020г.</p>
    </footer>
</div>  -->
