:host {
  display: flex;
  flex-direction: column;
  height: inherit;
  justify-content: space-between;
}
h2 {
  font-size: 18px;
  font-weight: bold;
  margin: 10px 0 15px;
}
.form {
  border-bottom: 1px solid #efefef;
}
.section {
  padding: 15px 10px;
}
.page-header, .page-body {
  height: 50px;
}
.f-control {
  padding: 0 5px;
}
.control-description {
  height: 100%;
  display: block;
  font-size: 14px;
  line-height: 20px;
  font-family: sans-serif;
}
