<ng-container *ngIf="componentReady">

  <div class="page-body">
    <div class="page-header">header</div>

    <form *ngIf="form" [formGroup]="form" class="form section">
      <a *ngIf="!!parentLink" (click)="navigate(parentLink)">parent node</a>
      <h2 class="f-control control-name" [lockEnter]="true" inputDirective formControlName="name" (contentChanged)="save()">{{taskIn.name}}</h2>
      <pre class="f-control control-description" inputDirective formControlName="description" (contentChanged)="save()">{{taskIn.description}}</pre>

      <div>tags</div>
    </form>
    <div class="section">children</div>
  </div>

  <div class="page-footer">footer</div>
</ng-container>
