<section>
  <h1>{{taskGroups.name}}</h1>
  <div class="list-group" *ngIf="taskGroups.pinnedGroup.list.length && taskListConfig.pinnable">
    <h3>{{taskGroups.pinnedGroup.name}}</h3>
    <div class="list">
      <app-dnd-tree [dataList]="taskGroups.pinnedGroup.list" [config]="taskListConfig"></app-dnd-tree>
    </div>
  </div>
  <div class="list-group" *ngFor="let groupItem of taskGroups.list">
    <h3>{{groupItem.name}}</h3>
    <div class="list">
      <app-dnd-tree [dataList]="groupItem.list" [config]="taskListConfig"></app-dnd-tree>
    </div>
  </div>
</section>

<router-outlet></router-outlet>
