<h1>MFBudget</h1>

<p>
  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Soluta obcaecati aut
  unde blanditiis eum architecto. Ex ea ab architecto voluptates eos, culpa in
  adipisci harum veritatis earum ipsa nesciunt nemo. Laboriosam a id natus?
  Soluta dignissimos libero excepturi magni ipsum optio quo fugit deserunt amet
  praesentium minus sit, quis dolores, illo pariatur repellat debitis numquam?
  Aperiam magnam perferendis accusamus cupiditate? Quas doloremque et aperiam
  cum obcaecati reiciendis adipisci natus laudantium, praesentium perferendis
  esse odit quidem architecto, at ad veniam impedit. Voluptatibus omnis enim
  consequatur debitis facilis eligendi veritatis nostrum! Minima! Sed fuga ex
  obcaecati, quos quidem officiis, harum a quis soluta ut necessitatibus nulla
  consequuntur quasi nostrum amet aliquam ea itaque rem hic aut tempore
  exercitationem adipisci? Debitis, alias molestias? Reiciendis corrupti
  explicabo maxime. Maiores, nihil explicabo? Cumque dolor, est blanditiis
  voluptas porro et soluta aliquid magnam corporis quasi culpa minus veniam
  doloremque! Magnam sapiente dolorem, nisi voluptatum quaerat officia!
  Inventore ad pariatur, quidem labore tempora voluptate. Sapiente nobis
  mollitia exercitationem sit deserunt nulla repellat sequi tenetur, aperiam
  consequuntur nemo alias ad placeat deleniti nesciunt vitae quos doloremque.
  Provident, nihil. Delectus laboriosam recusandae voluptatum neque culpa! Error
  cumque cum laboriosam maxime rerum eaque quasi ratione obcaecati doloribus
  placeat, consequuntur labore officiis, libero et, sunt repellat molestias
  tempore cupiditate nisi voluptatibus?
</p>
<p>
  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Soluta obcaecati aut
  unde blanditiis eum architecto. Ex ea ab architecto voluptates eos, culpa in
  adipisci harum veritatis earum ipsa nesciunt nemo. Laboriosam a id natus?
  Soluta dignissimos libero excepturi magni ipsum optio quo fugit deserunt amet
  praesentium minus sit, quis dolores, illo pariatur repellat debitis numquam?
  Aperiam magnam perferendis accusamus cupiditate? Quas doloremque et aperiam
  cum obcaecati reiciendis adipisci natus laudantium, praesentium perferendis
  esse odit quidem architecto, at ad veniam impedit. Voluptatibus omnis enim
  consequatur debitis facilis eligendi veritatis nostrum! Minima! Sed fuga ex
  obcaecati, quos quidem officiis, harum a quis soluta ut necessitatibus nulla
  consequuntur quasi nostrum amet aliquam ea itaque rem hic aut tempore
  exercitationem adipisci? Debitis, alias molestias? Reiciendis corrupti
  explicabo maxime. Maiores, nihil explicabo? Cumque dolor, est blanditiis
  voluptas porro et soluta aliquid magnam corporis quasi culpa minus veniam
  doloremque! Magnam sapiente dolorem, nisi voluptatum quaerat officia!
  Inventore ad pariatur, quidem labore tempora voluptate. Sapiente nobis
  mollitia exercitationem sit deserunt nulla repellat sequi tenetur, aperiam
  consequuntur nemo alias ad placeat deleniti nesciunt vitae quos doloremque.
  Provident, nihil. Delectus laboriosam recusandae voluptatum neque culpa! Error
  cumque cum laboriosam maxime rerum eaque quasi ratione obcaecati doloribus
  placeat, consequuntur labore officiis, libero et, sunt repellat molestias
  tempore cupiditate nisi voluptatibus?
</p>

<div>
  <button routerLink="/login">Get started</button>
</div>

<p>
  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Soluta obcaecati aut
  unde blanditiis eum architecto. Ex ea ab architecto voluptates eos, culpa in
  adipisci harum veritatis earum ipsa nesciunt nemo. Laboriosam a id natus?
  Soluta dignissimos libero excepturi magni ipsum optio quo fugit deserunt amet
  praesentium minus sit, quis dolores, illo pariatur repellat debitis numquam?
  Aperiam magnam perferendis accusamus cupiditate? Quas doloremque et aperiam
  cum obcaecati reiciendis adipisci natus laudantium, praesentium perferendis
  esse odit quidem architecto, at ad veniam impedit. Voluptatibus omnis enim
  consequatur debitis facilis eligendi veritatis nostrum! Minima! Sed fuga ex
  obcaecati, quos quidem officiis, harum a quis soluta ut necessitatibus nulla
  consequuntur quasi nostrum amet aliquam ea itaque rem hic aut tempore
  exercitationem adipisci? Debitis, alias molestias? Reiciendis corrupti
  explicabo maxime. Maiores, nihil explicabo? Cumque dolor, est blanditiis
  voluptas porro et soluta aliquid magnam corporis quasi culpa minus veniam
  doloremque! Magnam sapiente dolorem, nisi voluptatum quaerat officia!
  Inventore ad pariatur, quidem labore tempora voluptate. Sapiente nobis
  mollitia exercitationem sit deserunt nulla repellat sequi tenetur, aperiam
  consequuntur nemo alias ad placeat deleniti nesciunt vitae quos doloremque.
  Provident, nihil. Delectus laboriosam recusandae voluptatum neque culpa! Error
  cumque cum laboriosam maxime rerum eaque quasi ratione obcaecati doloribus
  placeat, consequuntur labore officiis, libero et, sunt repellat molestias
  tempore cupiditate nisi voluptatibus?
</p>
<p>
  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Soluta obcaecati aut
  unde blanditiis eum architecto. Ex ea ab architecto voluptates eos, culpa in
  adipisci harum veritatis earum ipsa nesciunt nemo. Laboriosam a id natus?
  Soluta dignissimos libero excepturi magni ipsum optio quo fugit deserunt amet
  praesentium minus sit, quis dolores, illo pariatur repellat debitis numquam?
  Aperiam magnam perferendis accusamus cupiditate? Quas doloremque et aperiam
  cum obcaecati reiciendis adipisci natus laudantium, praesentium perferendis
  esse odit quidem architecto, at ad veniam impedit. Voluptatibus omnis enim
  consequatur debitis facilis eligendi veritatis nostrum! Minima! Sed fuga ex
  obcaecati, quos quidem officiis, harum a quis soluta ut necessitatibus nulla
  consequuntur quasi nostrum amet aliquam ea itaque rem hic aut tempore
  exercitationem adipisci? Debitis, alias molestias? Reiciendis corrupti
  explicabo maxime. Maiores, nihil explicabo? Cumque dolor, est blanditiis
  voluptas porro et soluta aliquid magnam corporis quasi culpa minus veniam
  doloremque! Magnam sapiente dolorem, nisi voluptatum quaerat officia!
  Inventore ad pariatur, quidem labore tempora voluptate. Sapiente nobis
  mollitia exercitationem sit deserunt nulla repellat sequi tenetur, aperiam
  consequuntur nemo alias ad placeat deleniti nesciunt vitae quos doloremque.
  Provident, nihil. Delectus laboriosam recusandae voluptatum neque culpa! Error
  cumque cum laboriosam maxime rerum eaque quasi ratione obcaecati doloribus
  placeat, consequuntur labore officiis, libero et, sunt repellat molestias
  tempore cupiditate nisi voluptatibus?
</p>
<p>
  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Soluta obcaecati aut
  unde blanditiis eum architecto. Ex ea ab architecto voluptates eos, culpa in
  adipisci harum veritatis earum ipsa nesciunt nemo. Laboriosam a id natus?
  Soluta dignissimos libero excepturi magni ipsum optio quo fugit deserunt amet
  praesentium minus sit, quis dolores, illo pariatur repellat debitis numquam?
  Aperiam magnam perferendis accusamus cupiditate? Quas doloremque et aperiam
  cum obcaecati reiciendis adipisci natus laudantium, praesentium perferendis
  esse odit quidem architecto, at ad veniam impedit. Voluptatibus omnis enim
  consequatur debitis facilis eligendi veritatis nostrum! Minima! Sed fuga ex
  obcaecati, quos quidem officiis, harum a quis soluta ut necessitatibus nulla
  consequuntur quasi nostrum amet aliquam ea itaque rem hic aut tempore
  exercitationem adipisci? Debitis, alias molestias? Reiciendis corrupti
  explicabo maxime. Maiores, nihil explicabo? Cumque dolor, est blanditiis
  voluptas porro et soluta aliquid magnam corporis quasi culpa minus veniam
  doloremque! Magnam sapiente dolorem, nisi voluptatum quaerat officia!
  Inventore ad pariatur, quidem labore tempora voluptate. Sapiente nobis
  mollitia exercitationem sit deserunt nulla repellat sequi tenetur, aperiam
  consequuntur nemo alias ad placeat deleniti nesciunt vitae quos doloremque.
  Provident, nihil. Delectus laboriosam recusandae voluptatum neque culpa! Error
  cumque cum laboriosam maxime rerum eaque quasi ratione obcaecati doloribus
  placeat, consequuntur labore officiis, libero et, sunt repellat molestias
  tempore cupiditate nisi voluptatibus?
</p>

<router-outlet></router-outlet>
