<app-navigable-page [pageName]="'Tasks'">
  <div class="page-menu">
    <app-nested-list [data]="tags" (itemClick)="getTasksByTag($event)" [draggable]="true">
      <ng-template let-item #item>
        <span app-nested-list-item >{{item.name}}</span>
      </ng-template>
    </app-nested-list>
  </div>
  <div class="page page-body">
    <app-task-tree *ngIf="dataLoaded" [dataList]="tasks" [config]="taskListConfig" [menuItems]="menuItems" (itemAction)="onMenuAction($event)"></app-task-tree>
  </div>
  <div class="page page-detail">
    <router-outlet></router-outlet>
  </div>
</app-navigable-page>
