.navigable-page {
  display: flex;
}

.page-section {
  width: 50%;
  padding: 0 10px;
}
.navigable-page-menu {
  width: 200px;
  padding: 0 6px;
}

.navigable-page-content-header {
  border-bottom: 1px solid #efefef;
  padding-bottom: 8px;
}

.navigable-page__toggle-button {
  height: 24px;
  width: 24px;
  line-height: 24px;
  margin-right: 8px;
}

.navigable-page-title {
  font-size: 24px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0;
  padding: 10px 0;
}
.navigable-page-title__item {
  display: flex;
  align-items: center;
}
