<ng-container *ngIf="dataSource.data.length; else emptyData">
  <mat-tree #tree [dataSource]="dataSource" [treeControl]="treeControl" class="w-100" [trackBy]="trackBy">
    <mat-tree-node *matTreeNodeDef="let node; when: hasChildGroup" matTreeNodePadding
                   class="mat-tree-node__group w-100"
                   [matTreeNodePaddingIndent]="15"
                   (keydown)="selectItemOnKey($event, node)"
                   (click)="selectItemOnClick($event, node)"
    >
      <div class="mat-tree-node__content w-100 clickable-node" [class.mat-tree-node__content-selected]="node.selected" matTreeNodeToggle>
        <button class="toggle-btn"
                *ngIf="node.expandable; else simpleBtn"
                [attr.aria-label]="'Toggle ' + node.data.name">
          <mat-icon class="mat-icon-rtl-mirror">
            {{treeControl.isExpanded(node) ? 'expand_more' : 'chevron_right'}}
          </mat-icon>
        </button>

        <div class="mat-tree-node__name">{{node.data.name}}</div>
        <span class="task-count">{{node.childCount}}</span>
      </div>
    </mat-tree-node>

    <mat-tree-node *matTreeNodeDef="let node;" matTreeNodePadding
                   class="mat-tree-node__item w-100"
                   [matTreeNodePaddingIndent]="15"
                   (keydown)="selectItemOnKey($event, node)"
                   (click)="selectItemOnClick($event, node)"
    >
      <div class="mat-tree-node__content w-100" [class.mat-tree-node__content-selected]="node.selected">
        <button matTreeNodeToggle class="toggle-btn" *ngIf="node.expandable; else simpleBtn"
                [attr.aria-label]="'Toggle ' + node.data.name">
          <mat-icon class="mat-icon-rtl-mirror">
            {{treeControl.isExpanded(node) ? 'expand_more' : 'chevron_right'}}
          </mat-icon>
        </button>
        <div class="mat-tree-node__divider w-100" customContextMenu [menuComponent]="nodeTreeItemMenu" [id]="node.data.id">
          <app-custom-checkbox
            class="w-100 mat-tree-node__checkbox"
            (checkedChanged)="todoLeafItemSelectionToggle(node)"
            [checkboxOnly]="config.checkboxOnly"
            [checked]="selection.isSelected(node)">
            <div class="mat-tree-node__name"
                 tabindex="-1"
                 listInputDirective
                 [editable]="node.selected"
                 (contentChanged)="updateTitle($event, node)">{{node.data.name}}</div>
          </app-custom-checkbox>
          <div class="mat-tree-node__icons">icons</div>
        </div>
      </div>
    </mat-tree-node>

    <mat-tree-node *matTreeNodeDef="let node; when: hasChild" matTreeNodePadding
                   class="mat-tree-node__item w-100"
                   [matTreeNodePaddingIndent]="15"
                   (keydown)="selectItemOnKey($event, node)"
                   (click)="selectItemOnClick($event, node)"
    >
      <div class="mat-tree-node__content w-100" [class.mat-tree-node__content-selected]="node.selected">

        <button matTreeNodeToggle class="toggle-btn" *ngIf="node.expandable; else simpleBtn"
                [attr.aria-label]="'Toggle ' + node.data.name">
          <mat-icon class="mat-icon-rtl-mirror">
            {{treeControl.isExpanded(node) ? 'expand_more' : 'chevron_right'}}
          </mat-icon>
        </button>

        <div class="mat-tree-node__divider w-100" customContextMenu [menuComponent]="nodeTreeItemMenu" [id]="node.data.id">
          <app-custom-checkbox
            class="w-100 mat-tree-node__checkbox"
            (checkedChanged)="todoItemSelectionToggle(node)"
            [checkboxOnly]="config.checkboxOnly"
            [checked]="descendantsAllSelected(node)">
            <div class="mat-tree-node__name"
                 tabindex="-1"
                 listInputDirective
                 [editable]="node.selected"
                 (contentChanged)="updateTitle($event, node)">{{node.data.name}}</div>
          </app-custom-checkbox>
          <div class="mat-tree-node__icons">icons</div>
        </div>
          <!--      <button mat-icon-button (click)="addNewItem(node)"><mat-icon>add</mat-icon></button>-->
      </div>
    </mat-tree-node>

    <mat-tree-node *matTreeNodeDef="let node; when: hasNoContent" matTreeNodePadding>
      <button mat-icon-button disabled></button>
      <mat-form-field appearance="fill">
        <mat-label>New item...</mat-label>
        <input matInput #itemValue placeholder="Ex. Lettuce">
      </mat-form-field>
      <button mat-button (click)="saveNode(node, itemValue.value)">Save</button>
    </mat-tree-node>
  </mat-tree>

  <app-custom-menu #nodeTreeItemMenu [available]="!!menuItems.length">
    <button custom-menu-item
            *ngFor="let menuItem of menuItems"
            (click)="onMenuAction(nodeTreeItemMenu.itemId, menuItem.action)"
    >{{menuItem.name}}</button>
  </app-custom-menu>
</ng-container>

<ng-template #simpleBtn>
  <button class="toggle-btn" disabled></button>
</ng-template>

<ng-template #emptyData>
  <div app-empty-message>No data to display</div>
</ng-template>
